.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 240px;
  height: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 214px;
  gap: 10px;
  margin-top: 15px;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.menu-item__lower {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 15px;
}
