.menu-item__name {
  display: flex;
  justify-content: right;
  width: 20%;
  font-weight: 500;
  font-size: 14px;
}

.menu-item__range {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 2px;
  background-color: #e0e0e0;
  outline: none;
}

.menu-item__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #afafaf;
}

.menu-item__range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #afafaf;
}

.menu-item__range::-ms-thumb {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #afafaf;
}
