.menu-item__switcher-name {
  display: flex;
  justify-content: right;
  width: 15%;
  font-weight: 500;
  font-size: 11px;
  margin-left: 13px;
}

.switch {
  display: inline-block;
  height: 11px;
  position: relative;
  width: 20px;
}
.switch input {
  display: none;
}
.slider {
  background-color: #afafaf;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #ffffff;
  bottom: 2px;
  content: "";
  height: 8px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 8px;
}
input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  transform: translateX(7px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
